body {
    background-color: #0d0d0d;
    color: #00ff00;
    font-family: "Courier New", monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.terminal {
    width: 80%;
    margin: 50px auto;
    border: 2px solid #00ff00;
    padding: 35px;
    background-color: #000;
    box-shadow: 0 0 10px #00ff00;
    flex: 1;
}
h1 {
    font-family: monospace;
    font-size: 3rem;
    margin: 0;
    padding: 0;
    text-align: center;
}
a {
    color: #00ff00;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.prompt {
    color: #ff0000;
}
.ascii-art {
    display: block;
    text-align: center;
}
.mobile-title {
    display: none;
}
footer {
    text-align: center;
    background-color: #000;
    margin-top: auto;
}
@media (max-width: 992px) { /* Ajuste o ponto de quebra para metade da tela */
    .ascii-art {
        display: none;
    }
    .mobile-title {
        display: block;
    }
    .terminal {
        width: 95%;
        padding: 10px;
    }
}